:root {
  --main-color: #73b385;
  --second-color: #e5e5e5;

  --second-hover: #d4cfcf;

  --background-color: #f2f2f2;

  --black: #202124;
  --black-text: #808080;
  --white: #ffffff;

  --title-font: "Montserrat", sans-serif;
  --text-font: "Open Sans", sans-serif;

  --breakpoint-small: 576px;
  --breakpoint-medium: 768px;
  --breakpoint-large: 992px;
  --breakpoint-xlarge: 1200px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Arial, sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
}

/* Restablecer estilos de enlaces */
a {
  color: inherit;
  text-decoration: none;
}

/* Restablecer estilos de listas */
ul,
ol {
  list-style: none;
}

/* Restablecer estilos de imágenes */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

summary {
  list-style: none;
}

/* ------ COMPONENTS ------ */

.btn {
  font-family: var(--text-font);
  border-style: none;
  font-size: 1.5rem;
  font-weight: 700;
  background-image: none;
  letter-spacing: 1px;
  text-transform: none;
  padding: 12px 24px;
  border-radius: 5px;
  cursor: pointer;
}

.btn.btn-gray {
  background-color: var(--second-color);
  color: var(--black);
}

.btn.btn-green {
  background-color: var(--main-color);
  color: var(--white);
}

.btn.btn-green:hover {
  background-color: var(--black);
}

.btn.btn-gray:hover {
  background-color: var(--second-hover);
}

/* ------ MAIN CONTENT ------ */

main {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  min-height: 700px;
  display: flex;
  align-items: center;
  padding: 0 3rem;
}

main .main__content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 5rem;
}

main .main__content h1 {
  color: var(--black);
  font-size: 6rem;
  font-weight: 700;
  line-height: 1.1;
  font-family: var(--title-font);
}

main .main__content h1 span {
  color: var(--main-color);
}

main .main__content .buttons {
  display: flex;
  gap: 2rem;
}

main .main__img {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ------ SERVICES SECTION ------ */

.services {
  max-width: 1200px;
  padding: 3rem 4rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.services h2 {
  font-size: 3.8rem;
  line-height: 1.1;
  font-family: var(--title-font);
  color: var(--black);
  text-align: start;
}

.services h2 span {
  color: var(--main-color);
}

.services .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
}

.services .container .card {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.services .container .card i {
  text-align: center;
  font-size: 5rem;
  color: var(--main-color);
}

.services .container .card h3 {
  color: var(--black);
  font-family: var(--title-font);
  font-size: 2.5rem;
}

.services .container .card p {
  font-family: var(--text-font);
  color: var(--black-text);
  font-weight: 400;
}

/* ------ ABOUT SECTION ------ */

.about {
  margin-top: 4rem;
  max-width: 1200px;
  display: flex;
  margin: 0 auto;
  padding: 0 4rem;
}

.about .content {
  flex: 6;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
}

.about .content h3,
.about .content h1 {
  font-size: 2.5rem;
  color: var(--black);
  font-family: var(--title-font);
}

.about .content h1 {
  font-size: 5rem;
  line-height: 1;
  font-weight: 700;
}

.about .content h1 span {
  color: var(--main-color);
}

.about .content ul {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
  font-size: 1.8rem;
  gap: 1rem;
  font-family: var(--text-font);
  color: var(--black-text);
}

.about .content .btn {
  width: fit-content;
}

.about .img {
  flex: 4;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.about .img img {
  min-height: 500px;
}

/* ------ US DESING ------ */

.us {
  width: 100%;
  background: var(--background-color);
}

.us .wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 4rem 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem; 
}

.us .wrapper h1,
.us .wrapper h3 {
  font-size: 2.5rem;
  color: var(--black);
  font-family: var(--title-font);
}

.us .wrapper h1 {
  font-size: 4.5rem;
  text-align: center;
  line-height: 1.1;
}

.us .wrapper h1 span {
  color: var(--main-color);
}

.us .wrapper .btn {
  width: fit-content;
}

/* ------ PRICING DESING ------ */

.pricing {
  background: var(--main-color);
  width: 100%;
}

.pricing .wrapper {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 4rem ;
}

.pricing .wrapper h1 {
  font-size: 4.5rem;
  color: var(--white);
  font-family: var(--title-font);
  text-align: center;
}

.pricing .wrapper p {
  text-align: center;
  font-size: 2rem;
  color: var(--white);
  font-family: var(--text-font);
}

.pricing .wrapper .container {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.pricing .wrapper .container .card {
  background-color: var(--second-color);
  padding: 2rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
}

.pricing .wrapper .container .card:hover {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  background: var(--white);
}

.pricing .wrapper .container .card:nth-child(2) {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  background: var(--white);
}

.pricing .wrapper .container .card h1 {
  color: var(--main-color);
  font-size: 2.5rem;
  font-weight: 500;
  font-family: var(--title-font);
}

.pricing .wrapper .container .card .price {
  color: var(--main-color);
  font-size: 4.5rem;
  font-weight: 700;
}

.pricing .wrapper .container .card .heading {
  color: var(--main-color);
  font-family: 1.5rem;
  font-family: var(--text-font);
}

.pricing .wrapper .container .card ul {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 2rem 0;
}

.pricing .wrapper .container .card ul li {
  text-align: center;
  font-size: 1.5rem;
  font-family: var(--text-font);
  color: var(--black-text);
  padding: 8px 0;
  
  border-top: 1px solid var(--black-text);
}

.pricing .wrapper .container .card .btn {
  width: fit-content;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 2.5rem;
  margin: 0 auto;
}

/* ------ QUESTIONS DESING ------ */

.questions {
  background: var(--background-color);
  width: 100%;
}

.questions .wrapper {
  border: 1px solid red;
  max-width: 1200px;
  margin: 0 auto;
  padding: 8rem 4rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.questions .wrapper h1 {
  font-size: 4.5rem;
  color: var(--black);
  font-family: var(--title-font);
  text-align: center;
  line-height: 1.1;
}

.questions .wrapper .container {
  display: flex;
  gap: 2rem;
}

.questions .wrapper .container .acordeon {
  border: 1px solid red;
  flex: 6;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  background: var(--white);
}

.questions .wrapper .container .acordeon details[open] summary{
  background-color: var(--main-color);
}

.questions .wrapper .container .acordeon details[open] summary p {
  color: var(--white);
}
.questions .wrapper .container .acordeon details[open] summary i{
  color: var(--white);
  transform: rotate(45deg);
}

.questions .wrapper .container .acordeon details summary:hover {
  background-color: var(--second-hover);  
}

.questions .wrapper .container .acordeon details[open] summary:hover {
  background: var(--main-color);
}

.questions .wrapper .container .acordeon details summary {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 2rem;
  font-size: 2.2rem;
  color: var(--black);
  font-weight: 700;
  font-family: var(--title-font);
  line-height: 1.1;
  cursor: pointer;
}

.questions .wrapper .container .acordeon details summary p {
  padding: 0;
}

.questions .wrapper .container .acordeon details i {
  color: var(--main-color);
  font-size: 3rem;
}

.questions .wrapper .container .acordeon details p {
  padding: 1rem 2rem;
  color: var(--black);
  font-weight: 700;
  font-family: var(--title-font);
  transition: all .5s ease;
}
.questions .wrapper .container .acordeon details ul {
  padding: 1rem 2rem;
}

.questions .wrapper .container .acordeon details ul li {
  font-family: var(--text-font);
  color: var(--black-text);
  list-style: inside;
}

.questions .wrapper .container .content{
  flex: 4;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 2rem;
}

.questions .wrapper .container .content h3 {
  font-family: var(--title-font);
  color: var(--black);
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.4;
}

.questions .wrapper .container .content .btn {
  width: fit-content;
}


/* ------ RESPONSIVE DESING ------ */

@media screen and (max-width: 992px) {
  body {
    /* background-color: red; */
  }

  main {
    min-height: 100vh;
  }

  main .main__content {
    padding: 0;
  }

  main .main__content h1 {
    font-size: 5rem;
  }

  main .main__img img {
    width: 300px;
    height: 300px;
  }

  .about .content {
    flex: 5;
  }

  .about .img {
    flex: 5;
  }

  .pricing .wrapper .container {
    grid-template-columns: repeat(2, 1fr);
  }

  .pricing .wrapper .container .card:nth-child(3) {
    justify-self: center;
    grid-column: 1 / 3;
    width: 330px;
  }

  .questions .wrapper .container {
    flex-direction: column;
    gap: 2rem;
  }
}

@media screen and (max-width: 768px) {
  body {
    /* background-color: green; */
  }

  main {
    flex-direction: column-reverse;
  }

  main .main__content {
    gap: 4rem;
    justify-content: flex-start;
  }

  main .main__img img {
    width: 250px;
    height: 250px;
  }

  .services .container {
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
  }

  .about {
    flex-direction: column;
  }

  .about .img img {
    height: 500px;
  }

  .us .wrapper {
    padding: 3rem 2rem
  }

  .us .wrapper h1 {
    font-size: 3rem;
  }

  .pricing .wrapper .container {
    grid-template-columns: repeat(1, 1fr);
  }

  .pricing .wrapper .container .card:nth-child(3) {
    justify-self: initial;
    grid-column: initial;
    width: initial;
  }

  .questions .wrapper {
    padding: 6rem 2rem;
  }

  .questions .wrapper h1 {
    font-size: 3.5rem;
  }
}

@media screen and (max-width: 568px) {
  body {
    /* background-color: blue; */
  }

  .services {
    padding: 4rem 2rem;
  }

  .services h2 {
    font-size: 2.5rem;
  }

  .services .container {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .services .container .card i {
    font-size: 4rem;
  }

  .about {
    padding: 0 2rem;
  }

  .about .content h1 {
    font-size: 4rem;
  }

  .pricing .wrapper {
    padding: 3rem 2rem;
  }

  .pricing .wrapper h1 {
    font-size: 3rem;
  }
  
  .pricing .wrapper p {
    font-size: 1.5rem;
  }

  .pricing .wrapper .container .card h1 {
    font-size: 2rem;
  }
  
  .pricing .wrapper .container .card .price {
    font-size: 3rem;
  }
  
  .pricing .wrapper .container .card .heading {
    font-family: 1.3rem;
  }
  
  .pricing .wrapper .container .card ul li {
   font-size: 1.3rem;
  }

  .questions .wrapper .container .acordeon {
    padding: 1.5rem;
  }

  .questions .wrapper .container .acordeon details summary {
    font-size: 2rem;
    padding: 1.5rem;
  }
}

@media screen and (max-width: 480px) {
  body {
    /* background-color: yellow; */
  }

  .buttons {
    flex-direction: column;
  }

  main .main__content h1 {
    font-size: 3.2rem;
  }

  main .main__img img {
    width: 200px;
    height: 200px;
  }

  .about .img img {
    min-height: initial;
    height: 380px;
  }

  .about .content .btn {
    width: initial;
  }

  .us .wrapper h3 {
    font-size: 2rem;
  }

  .us .wrapper h1 {
    font-size: 2.5rem;
  }

  .questions .wrapper .h1 {
    font-size: 3rem;
  }

  .questions .wrapper .container .acordeon {
    padding: 1rem;
  }

  .questions .wrapper .container .acordeon details summary {
    font-size: 1.8rem;
    padding: 1rem;
  }
}
